body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 30px;
}

.randomBox {
  width: 300px;
  height: 300px;
  border: 1px solid;
}
